set input-meta on
set output-meta on

set colored-stats on
set colored-completion-prefix on
set editing-mode emacs
set enable-bracketed-paste on
set blink-matching-paren on

$if mode=emacs
# mappings for Home/End keys
"\e[1~": beginning-of-line
"\e[4~": end-of-line

# mappings for Delete/Insert keys
"\e[3~": delete-char
"\e[2~": quoted-insert

# mappings for PgUp/PgDn keys
"\e[5~": history-search-backward
"\e[6~": history-search-forward
$endif
